header
  nav.navbar.navbar-light(style='background-color: #e3fdfd;')
    .container-fluid
      h1.navbar-brand Track Me
      form.d-flex
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search