extends layout

block content
  main
  .container.add-item
    form.row.g-3
      .col-8
        label.form-label(for='inputName') Name
        input#inputName.form-control(type='text')
      .row
        .col-8
          label.form-label(for='inputGoal') Goals
          input#inputGoal.form-control(type='textarea' placeholder='I would like to...')
      .form-group.row.date
        label.col-2.col-form-label(for='startDate')  Start Date
        .col-6
          input#startDate.form-control(type='date' value='2011-08-19')
      .form-group.row.date
        label.col-2.col-form-label(for='endDate')  End Date
        .col-6
          input#endDate.form-control(type='date' value='2011-08-24')
      .col-md-4
        label.form-label(for='hashtag') Hashtags
        select#hashtag.form-select
          option(selected='') Select
          option Career
          option Fitness
          option Finance
          option Education
      .col-12
        button.btn.btn-outline-info(type='submit') Add Item
