doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Track Me
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/styles.css')
  body
    header
      nav.navbar.navbar-light(style='background-color: #e3fdfd;')
        .container-fluid
          h1.navbar-brand Track Me
          form.d-flex
            input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
            button.btn.btn-outline-success(type='submit') Search
    main.container-fluid.main-body
      .row.titlebar
        .col-sm
        .col-sm-1.dropdown
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Filter
          ul.dropdown-menu(aria-labelledby='dropdownMenuButton')
            li
              a.dropdown-item(href='#') Hashtag
            li
              a.dropdown-item(href='#') Time
        .col-sm-1.dropdown
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Sort
          ul.dropdown-menu(aria-labelledby='dropdownMenuButton')
            li
              a.dropdown-item(href='#') Career
            li
              a.dropdown-item(href='#') Health
            li
              a.dropdown-item(href='#') Finance
            li
              a.dropdown-item(href='#') Education
      .items
        ul.row
          li.col-sm-1
            i.far.fa-circle
          li.col-sm-1.hidden
            i.far.fa-check-circle
          li.col-sm Learn React
          li.col-sm 5:00
          li.col-sm-1
            i.fas.fa-trash
      footer
        .container-fluid
          .add
            a.btn.btn-outline-info(href='#' role='button') Add Item
            p Coded by Elza & Bramarika
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/04bb019abc.js' crossorigin='anonymous')
  