extends layout

block content
  main
    .container.track-item
      form.row.g-3(method='POST', action='/track/'+taskId)
        .col-8
          label.form-label(for='inputName') Name 
          input#inputName.form-control(type='text')
        .row
          .col-8
            label.form-label(for='inputGoal') Goals
            input#inputGoal.form-control(type='textarea' placeholder='I would like to...')
        .form-group.row.date
          label.col-2.col-form-label(for='start-time') Date and time
          .col-6
            input#start-time.form-control(type='datetime-local')
        .form-group.row.date
          label.col-2.col-form-label(for='end-time') Date and time
          .col-6
            input#end-time.form-control(type='datetime-local')
        .col-md-4
          label.form-label(for='hashtag') Hashtags
          select#hashtag.form-select
            option(selected='') Select
            option Career
            option Fitness
            option Finance
            option Education
        .col-12
          button.btn.btn-outline-info(type='submit') Track Item
