footer p {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  color: #2a6d6d;
}

footer a {
  margin-bottom: 20px;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

.sort li,
.items li,
.view-item li {
  list-style: none;
  margin-top: 10px;
}

.view-item {
  border: 2px solid #4adcdc;
  padding: 20px;
  margin-bottom: 10px;
}
.view-item li {
  margin: 20px;
  font-weight: 800;
}

.view-item span {
  font-weight: 400;
}

.sort {
  border-bottom: 1px solid gray;
}

.add {
  text-align: center;
}

.title {
  text-align: center;
}
.container,
.main-body,
.add-item {
  max-width: 80%;
}

.main-body {
  margin-top: 20px;
}

.titlebar {
  margin-bottom: 20px;
  text-align: center;
}

.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.date {
  margin-top: 20px;
}

.add-item,
.track-item,
.view-title {
  margin-top: 40px;
}

.red {
  border-left: 4px solid rgb(167, 10, 10);
}

.green {
  border-left: 4px solid rgb(4, 163, 4);
}

.blue {
  border-left: 4px solid rgb(42, 182, 242);
}

.yellow {
  border-left: 4px solid rgb(240, 240, 44);
}
