footer p {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid gray;
}

footer {
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  color: #2a6d6d;
  text-align: center;
}

footer a {
  margin-bottom: 20px;
}
.items li {
  list-style: none;
  margin-top: 10px;
}
.add {
  text-align: center;
}

.title {
  text-align: center;
}
.container,
.main-body {
  max-width: 80%;
}

.main-body {
  margin-top: 20px;
}

.titlebar {
  margin-bottom: 20px;
}

.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.date {
  margin-top: 20px;
}

.add-item,
.track-item {
  margin-top: 40px;
}
